.DropDownIcon {
    /*display: inline-block;*/
    position: relative;
 display: inline-block;    /*background: none;*/
}

.dropdown-item{
    color: black !important;
}
.dropdown-item:hover{
    color: white !important;
     background-color: #3577CE !important;
}
#dropdownMenu2 {
    font-size: 20px !important;
    padding: 1px 8px 1px 8px;
    font-weight: 900 !important;
    color: black !important;

}


