.SearchByDestinationBox {
    height: 80vh;
}
.SearchByDestinationBox form{
    height: 50vh;

}

.row{
    height: 40px;
}
.RouteNumber{
    margin: auto;
}
.SearchByDestinationForm input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.SearchByDestinationBox label {
    width: 100%;
    width: 100%;
    font-size: 18px;
    /*padding: 6px 6px 6px 0;*/
    text-align: center;
    color: white;
}


@media screen and (min-width: 600px) {
  .SearchByDestinationBox{
      width: 450px;
  }
}

/*https://reactdatepicker.com/#example-7 timepicker*/